@import "imports"

.btn
  +btn
  position: relative
  min-width: 193px
  padding: 10px
  color: $main
  text-transform: uppercase
  font-weight: 800
  background-image: $gradient
  border-radius: 18px
  overflow: hidden
  transition: $transition
  &:hover
    box-shadow: 0 0 15px transparentize($orange, 0.5)
  &-slider
    +btn
    position: absolute
    z-index: 1
