@import "imports"

.overlay
  &-bg
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: #050505
    opacity: 0.4

.title
  &-bold
    margin-bottom: 1px
    font-size: 33px
    font-weight: 700
    text-transform: uppercase
    line-height: 1
  &-medium
    margin: 5px 0 0
    font-size: 21px
    font-weight: 500
    text-transform: uppercase
  &-line
    width: 114px
    height: 3px
    background-color: #f1af1b

.bg-image
  position: absolute
  top: 0
  left: 0
  height: 100%
  object-fit: cover

.bg-fon
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: $gradient
  opacity: .9

.image-position1
  position: absolute
  bottom: -110px
  left: -320px
  z-index: 1

.image-position2
  position: absolute
  top: -177px
  left: -246px
  z-index: 1

.image-position3
  position: absolute
  top: -50px
  right: -310px
  z-index: 1

.select2-search--dropdown
  display: none

.select2-dropdown
  background: $gradient
  border-radius: 17px
  border: 1px solid #232526

.select2-container--default .select2-selection--single .select2-selection__arrow b
  display: none

.select2-container--default .select2-selection--single .select2-selection__arrow
  top: 15px
  right: 17px
  width: 20px
  height: 15px
  background: url("../images/icons/down-arrow.svg") no-repeat 50% 50%
  background-size: contain

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow
  transform: rotate(180deg)

.select2-results__option
  padding-left: 24px

.select2-container--default .select2-results__option--highlighted[aria-selected]
  color: #ffffff
  background-color: #282828

.select2-container--default .select2-results__option[aria-selected=true]
  color: #ffffff
  background-color: #282828

.select2-container--open .select2-dropdown--below
  overflow: hidden
