mixin projects()
  section.projects-wrap
    .container
      +b.projects
        h2.title-bold Реализованные
        h3.title-medium проэкты
        .title-line
        +e.content
          +e.main
          +e.sliders
